body {
	background-color: #000000;
	cursor: url(img/cursor_default.png) 0 0, default;
	margin: 0px;
}

a:link, a:visited{
	cursor: url(img/cursor_pointer.png) 0 0, pointer;	

	border: ridge;
	padding: 1vw;

	color: rgb(180, 214, 198);
	background-color:rgb(242, 132, 92);
	border-color: rgb(245, 241, 231);
	
	text-decoration: none;
	font-size: 4vw;
	font-family: Georgia, 'ALGERIAN', Times, monospace;
}
a:hover{
	color: rgb(180, 214, 198);
	background-color:rgb(245, 241, 231);
	border-color:rgb(242, 132, 92);
}
a:active{
	color: rgb(242, 132, 92);
	background-color:rgb(180, 214, 198);
	border-color:rgb(245, 241, 231);
}